html, body {
    overflow-x: hidden;
}

.brand-color {
    color: #0FB5BF;
}

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #555;
    text-decoration: none;
}

.navbar .active {
    text-decoration: underline;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    text-decoration: underline;
}

.navbar .navbar-brand img {
    width: 50px;
}

/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

#hero-section {
    padding-top: 150px;
    height: 650px;
    background: #CCE5E7 url(../Images/Mountain.svg) no-repeat center bottom;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    overflow: hidden;
}

.who {
    padding-bottom: 80px;
}

.looking {
    padding-top: 80px;
}

#work-hero-section {
    height: 450px;
    padding-top: 50px;
    background: #CCE5E7 url(../Images/Clouds.svg) no-repeat center center;
    overflow: hidden;
}

.home-button, .button {
    display: block;
    padding: 8px 24px;
    width: 200px;
    background-color: #0FB5BF;
    color: #ffffff;
    font-size: 1.3rem;
    border-radius: 3px;
    transition: 0.3s;
}

.home-button:hover, .home-button:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #0E99A2;
}

.portfolio-item {
    color: #FFFFFF;
    padding: 80px 0px;
}

.portfolio-one {
    background-color: #63A8B8;
}

.portfolio-one .button {
    background-color: #FFFFFF;
    color: #63A8B8;
    font-weight: 700;
}

.portfolio-two {
    background-color: #D3399B;
}

.portfolio-two .button {
    background-color: #FFFFFF;
    color: #D3399B;
    font-weight: 700;
}

.portfolio-three {
    background-color: #82C442;
}

.portfolio-three .button {
    background-color: #FFFFFF;
    color: #82C442;
    font-weight: 700;
}

.portfolio-four {
    background-color: #1C6399;
}

.portfolio-four .button {
    background-color: #FFFFFF;
    color: #1C6399;
    font-weight: 700;
}

.portfolio-five {
    background-color: #21B2A6;
}

.portfolio-five .button {
    background-color: #FFFFFF;
    color: #21B2A6;
    font-weight: 700;
}

.portfolio-six {
    background-color: #F88527;
}

.portfolio-six .button {
    background-color: #FFFFFF;
    color: #F88527;
    font-weight: 700;
}

.button:hover, .button:focus {
    background: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.work-screens {
    width: 590px;
}

.name {
    width: 450px;
}

.avatar {
    max-width: 200px;
}

.apps img {
    width: 170px;
    height: 170px;
}

.inclusive img {
    max-height: 250px;
}

.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out 1.5s;
    left: 0;
    top: 0;
    position: absolute;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}

.carousel.carousel-fade .carousel-item:first-child {
    top: auto;
    position: relative;
    transition: opacity ease-out 1.5s;
}

.carousel.carousel-fade .carousel-item:second-child {
    top: auto;
    position: relative;
    transition: opacity ease-out 1.5s;
}

.carousel-item .img-fluid {
    margin: 0 auto;
}

.carousel img {
    opacity: 1;
    filter: alpha(opacity=100);
}

footer {
    background-color: #444444;
}

footer p {
    color: #FFFFFF;
}

footer .social-links a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.4em;
}

footer .social-links a:hover,
footer .social-links a:focus {
    color: #0FB5BF;
}

.social-links {
    padding: 20px 0px;
}

.my-link {
    color: #0FB5BF;
}

.my-link:hover,
.my-link:focus {
    color: #0FB5BF;
    text-decoration: underline;
}


@media (max-width: 992px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

@media (max-width: 768px) {
    .navbar-collapse .nav-item {
        text-align: center !important;
        padding: 10px 0px;
    }

    #hero-section {
      background: #CCE5E7 url(../Images/Mountains.png) no-repeat center bottom;
      background-size: contain;
    }

    .portfolio-item {
        padding: 40px 0px;
    }

    .who {
        padding-bottom: 0px;
    }

    .looking {
        padding-top: 0px;
    }

    .wow {
        visibility: visible !important;
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
         animation: none !important;
    }
}

@media (max-width: 576px) {
    #hero-section {
        padding-top: 150px;
        height: 450px;
    }

    #work-hero-section {
        height: 400px;
        padding-top: 65px;
    }
}
