body {
    max-width: 1920px;
    margin-right: auto !important;
    margin-left: auto !important;
}

.brand-color {
    color: #0FB5BF;
}

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #555;
    text-decoration: none;
}

.navbar .active {
    text-decoration: underline;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    text-decoration: underline;
}

.navbar .navbar-brand img {
    width: 50px;
}

/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

#hero-section {
    padding-top: 150px;
    height: 550px;
    background: #CCE5E7 url(Images/Mountains.svg) no-repeat center bottom; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#work-hero-section {
    height: 350px;
    padding-top: 50px;
    background: #CCE5E7 url(Images/Clouds.svg) no-repeat center center; 
}

.button {
    display: block;
    padding: 8px 24px;
    width: 200px;
    background-color: #0FB5BF;
    color: #ffffff;
    font-size: 1.3rem;
    border-radius: 3px;
    transition: 0.3s;
}

.button:hover, .button:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #0E99A2;
}

.portfolio-one {
    background-color: #D3399B;
    color: #FFFFFF;
    height: 90vh;
}

.portfolio-one .button {
    background-color: #FFFFFF;
    color: #D3399B;
    font-weight: 700;
}

.portfolio-one .button:hover,
.portfolio-one .button:focus,
.portfolio-two .button:hover,
.portfolio-two .button:focus,
.portfolio-three .button:hover,
.portfolio-three .button:focus,
.portfolio-four .button:hover,
.portfolio-four .button:focus {
    background: rgba(255, 255, 255, 0.8);
}

.portfolio-two {
    background-color: #82C442;
    color: #FFFFFF;
    height: 90vh;
}

.portfolio-two .button {
    background-color: #FFFFFF;
    color: #82C442;
    font-weight: 700;
}

.portfolio-three {
    background-color: #F88527;
    color: #FFFFFF;
    height: 90vh;
}

.portfolio-three .button {
    background-color: #FFFFFF;
    color: #F88527;
    font-weight: 700;
}

.portfolio-four {
    background-color: #C4B782;
    color: #FFFFFF;
    height: 90vh;
}

.portfolio-four .button {
    background-color: #FFFFFF;
    color: #C4B782;
    font-weight: 700;
}

.work-screens {
    width: 590px;
}

.name {
    width: 450px;
}

.avatar {
    max-width: 200px;
}

.apps img {
    max-width: 170px;
    max-height: 170px;
}

.inclusive img {
    max-height: 200px;
}

.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out 1.5s;
    left: 0;
    top: 0;
    position: absolute;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}

.carousel.carousel-fade .carousel-item:first-child {
    top: auto;
    position: relative;
    transition: opacity ease-out 1.5s;
}

.carousel.carousel-fade .carousel-item:second-child {
    top: auto;
    position: relative;
    transition: opacity ease-out 1.5s;
}

.carousel-item .img-fluid {
    margin: 0 auto;
}

.carousel img {
    opacity: 1;
    filter: alpha(opacity=100);
}

footer {
    background-color: #444444;
}

footer p {
    color: #FFFFFF;
}

footer .social-links a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.4em;
}

footer .social-links a:hover,
footer .social-links a:focus {
    color: #0FB5BF;
}

.social-links {
    padding: 20px 0px;
}

.my-link {
    color: #0FB5BF;
}

.my-link:hover,
.my-link:focus {
    color: #0FB5BF;
    text-decoration: underline;
}


@media (max-width: 992px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    .navbar-collapse .nav-item {
        text-align: center !important;
        padding: 10px 0px;
    }

    #hero-section {
        padding-top: 150px;
        height: 450px;
    }

    #work-hero-section {
        height: 400px;
        padding-top: 65px;
    }
}
